html {
  background-color: #6495ed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  background-position: center;
}
body {
  font-size: 18px;
  line-height: 32px;
  color: #00008b;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  background-color: #00008b;
  margin: 10px;
  border-radius: 5px;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
nav ul li {
  display: inline-block;
  background-color: #00008b;
  border-radius: 5px;
}
nav a {
  display: block;
  padding: 0 14px;
  color: #6495ed;
  line-height: 60px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 60px;
}

nav a:hover {
  background-color: #e0ffff;
  color: #00008b;
}

nav ul li:hover > ul {
  display: inherit;
}

nav ul ul li {
  width: 210px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}

li > a::after {
  content: " 🔽";
}
li > a:only-child::after {
  content: "";
}

#container {
  min-height: 100vh;
}
.main-content {
  padding: 50px 20px;
  text-align: center;
  margin-top: 150px;
}
.hero-title {
  font-size: 2em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.hero-subtitle {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.icon {
  margin-right: 8px;
  border-radius: 20px;
}
